body {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
   background-image: url(http://202.29.239.53/primary/courses/74/54thP05-F104_files/slide0031_image007.gif);
    -webkit-font-smoothing: antialiased;
    padding: 80px;
    overflow-x: hidden;
  }
  